body {
    margin: 0px;
    padding: 0px;
    font-family: "Slabo 27px"; 
}

.navigation {
    display: flex;
    border-bottom: 1px solid grey;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    background: black;

}

.navigation li {
    flex-direction: row;
    list-style: none;
    border: 0px solid darkgreen;
    margin: 10px;
    padding: 10px;
    font-size: 150%;
    color: white;

}

a {
    text-decoration: none;
}

   

}

/* About */
.me {
    width: 250px;
    padding: 30px;
}

.me-pic {
    float: left;
}



.lp {
    height: 640px;
    border: 20;
}

.mams {
    width: 317px;
    border: 0;
}

.aves {
    width: 424px;
    border: 0;
}

.view {
    width: 637px;
}

.tiitle {
    font-size: 300%;
    text-align: center;
    background: black;
    margin: 0;
    padding: 30px;
    color: white;
  
}

/* img-container */
.img-container {
    display: grid;
    grid-template-columns: auto auto ;
    background-color: #213f6b;
    justify-content: center;
    grid-gap: 1em;
    padding: 1em;

}
/* Pic-frames */
.rere {
    object-fit: cover;
    width: 500px;
  
}

.pic-frames {
    background-color: white;
}
.pic-frames h3 {
    font-size: 30px;
    list-style: none;
    padding-left: 5px;
    color: black;
    


}
.pic-frames p {
    font-size: 90%;
    list-style: none;
    padding-left: 5px;
    color: black;
    
}

.pagetext {
    font-size: 100em;
    color: black;

}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 50px;
}

.media img {
    height: 300px;
    margin: 10px;
}

.media h1 {
    text-align: center;
}

.dog {
    width: 450px;
    padding: 20px;
}

.rowaround {
    width: 450px;
    height: 300px;
    padding: 20px;
}

.grassdog {
    width: 450px;
    height: 696px;
    padding: 20px;
}