body {
    margin: 0px;
    padding: 0px;
    font-family: "Slabo 27px"; 
}

.navigation {
    display: flex;
    border-bottom: 1px solid grey;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    background: cyan;

}

.navigation li {
    flex-direction: row;
    list-style: none;
    border: 0px solid darkgreen;
    margin: 10px;
    padding: 10px;
    font-size: 150%;
    color: black;

}

a {
    text-decoration: none;
}

   


/* About */
.me {
    width: 350px;
    padding: 0px;
}

.me-pic {
    float: left;
}



.lp {
    width: 550px;
    border: 0;

}

.mams {
    width: 300px;
    border: 10px;
}

.aves {
    width: 410px;
    border: 10px;

}

.view {
    width: 600px;
}

.tiitle {
    font-size: 300%;
    text-align: center;
    background: cyan;
    margin: 0;
    padding: 30px;
    color: black;
  
}

/* img-container */
.img-container {
    display: grid;
    grid-template-columns: auto auto ;
    background-color: #213f6b;
    justify-content: center;
    grid-gap: 1em;
    padding: 1em;

}
/* Pic-frames */
.rere {
    object-fit: cover;
    width: 500px;
  
}

.pic-frames {
    background-color: white;
}
.pic-frames h3 {
    font-size: 30px;
    list-style: none;
    padding-left: 5px;
    color: black;
    


}
.pic-frames p {
    font-size: 90%;
    list-style: none;
    padding-left: 5px;
    color: black;
    
}

.pagetext {
    font-size: 100em;
    color: black;

}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 50px;
}

.media img {
    height: 300px;
    margin: 10px;
}

.media h1 {
    text-align: center;
}

.dog {
    width: 450px;
    padding: 20px;
}

.rowaround {
    width: 450px;
    height: 300px;
    padding: 20px;
}

.grassdog {
    width: 450px;
    height: 696px;
    padding: 20px;
}
@media screen and (max-width: 992px) {
    body {
      background-color: blue;
      
    }
    .rere {
        width: 350px;
    }
    .media img {
        height: 200px;
        margin: 10px; 
    }
    .media h1 {
        font-size: 24px;
    }
  }
@media screen and (max-width: 600px) {
    body {
      background-color: green;
     }
    .rere {
        width: 250px;

    }
    .media img {
        height: 100px;
        margin: 10px; 
    }
    .media h1 {
        font-size: 12px;
    }}

    /* Music */
    .popsong {
        float: left;
    } 
    .violin {
        float: right;
    }
    .popsong h1 {
        padding: 30px;
        text-align: justify;
    }